## Datatypes in Python

In python everything is an object where datatypes are their respective classes. It describes the kind of value that tells what operations can be performed on these particular data.
Python has many build in datatypes like `integer`, `float`, `string`, `boolean`, `string`, `list` etc.. lets checkout the various datatypes in Python

###Numerical DataTypes

####Integer Datatype


Integer datatype represents numbers without decimal points.

eg: 10, -2, 3, 5

In [ ]:
#you can check the datatype of a variable using the function `type`

x = 4 
y = -5
print(type(x), type(y))

<class 'int'> <class 'int'>

####Float Datatype

They respresents real numbers i.e, numbers with decimal points

eg: 3.3, -5.0, 6

In [ ]:
x = 3.0
y = 5.4
z = -7.0

print(type(x), type(y), type(z))

<class 'float'> <class 'float'> <class 'float'>

#### Complex Numbers

Complex numbers are numbers with both real and imaginery parts. The imaginery part is represented by `j` along with number.

In [ ]:
x = 2 + 3j
f = 5.0j

print(type(x), type(f))

<class 'complex'> <class 'complex'>

### Sequence Datatype

Ordered collections of similar or unsimilar datatypes is called sequence datatype. It allows us to store elements efficiently in an ordered manner.

* List
* Tuples
* Strings 

are the common sequence datatypes in Python.

####List 

* List is an ordered collection of data.
* Elements in a list can be of different dataypes.
* The values in a list can be changed.  i.e, mutable

In [ ]:
# List can be created putting a sequence in a square bracket
lst = []
print(lst)

lst = [0, 2, 3, 4]
print(lst)

lst = ["Hello", "Python"]
print(lst)

lst = ["Hello", "Python", 3]
print(lst)

[]
[0, 2, 3, 4]
['Hello', 'Python']
['Hello', 'Python', 3]

Elements in a list can be accessed using the index number.The indices starts from 0. The negative numbers as index the elements from the end.

In [ ]:
lst = [1, 2, 'Techno', 4, 'For', 6, 'Life']
print(lst[2]) # prints the 3rd element in the  array

print(lst[-1]) #prints the  last elements in the array

Techno
Life

The length of a list can be found using the function len()

In [ ]:
print(len(lst)) #returns the number of elements in the list

7

##### Adding Elements to The List

New elements can be added to list using the following methods...
* `append()` : Adds one element at a time to the end of a list. For adding multiple elements you need to use a loop

* `extend()` : Can be used to add multiple elements to the end of a list at the sametime.

* `insert()` : Can be used to add element at the desired position of a list.

In [ ]:
lst.append("Everyone") # adds element to the last
print(lst)

lst.extend("7") #The input needs to be an iterable
print(lst)

lst.extend(["Enlarge", 8])
print(lst)

lst.insert(1, "Human") # contains 2 arguments first argument is position, second argument - value
print(lst)

[1, 2, 'Techno', 4, 'For', 6, 'Life', 'Everyone']
[1, 2, 'Techno', 4, 'For', 6, 'Life', 'Everyone', '7']
[1, 2, 'Techno', 4, 'For', 6, 'Life', 'Everyone', '7', 'Enlarge', 8]
[1, 'Human', 2, 'Techno', 4, 'For', 6, 'Life', 'Everyone', '7', 'Enlarge', 8]

##### Removing Elements from List

`remove()` : The remove function can be used to remove first occurance of the element in the list. It raises an error if an element is not present in the list.

`pop()` : function can be used to remove and return the element but by default it removes only the last element of the set. You can give index of element to pop function to remove the element at paricular position.

`del` : keyword can be used to delete the indexed element in the list

In [ ]:
lst.remove("Everyone")
print(lst)

lst.pop()
print(lst)

lst.pop(-2)
print(lst)

del lst[-1]
print(lst)

[1, 'Human', 2, 'Techno', 4, 'For', 6, 'Life', '7', 'Enlarge', 8]
[1, 'Human', 2, 'Techno', 4, 'For', 6, 'Life', '7', 'Enlarge']
[1, 'Human', 2, 'Techno', 4, 'For', 6, 'Life', 'Enlarge']
[1, 'Human', 2, 'Techno', 4, 'For', 6, 'Life']

You can use `in` and `not in` to check the presence of an element in a sequence.

In [ ]:
print("Techno" in lst)

print("Techno" not in lst)

True
False

##### Sorting Elements in a Lists

Sorting refers to the arranging of elements in an List in the increasing or decreaseing  order. Following methoda are used for sorting the elements in a list

`sorted(lst)`, `lst.sort()`

In [ ]:
lst = [5, 0, 3, 7, 9, 2]

# returns a sorted array while keeing the original array intact
print(sorted(lst))
# arrange list in reverse order
print(sorted(lst, reverse = True))


print('\n')


# Arranges the original list in increasing order
lst.sort()
print(lst)
# Arrange the lst in reverse order
lst.sort(reverse = True)
print(lst)

[0, 2, 3, 5, 7, 9]
[9, 7, 5, 3, 2, 0]


[0, 2, 3, 5, 7, 9]
[9, 7, 5, 3, 2, 0]

##### List Slicing

Slicing of a list is performed to get elements in a particular range..

In [ ]:
print(lst[:]) #prints the entire list

print(lst[2:]) #print elements from index 2 to the end

print(lst[:4]) # print the elements from beginning till index 4 (not including it)

print(lst[2:5]) #print from the second index element till the 5th index (not including it)

print(lst[::-1]) #print elements in the reverse order

[9, 7, 5, 3, 2, 0]
[5, 3, 2, 0]
[9, 7, 5, 3]
[5, 3, 2]
[0, 2, 3, 5, 7, 9]

In [ ]:
#looping in alist

print("First method")
for i  in lst:
  print(i,)

print("\n")
print("The second method")
for i in range(len(lst)):
  print(lst[i])

First method
9
7
5
3
2
0


The second method
9
7
5
3
2
0

##### List Comprehension

Creating a new list from a sequence

In [ ]:
nwlst = [i for i in lst]
print(nwlst)

nwlst = [i for i in lst if i > 2]
print(nwlst)

nwlst = [i+1 for i in lst if i >2]
print(nwlst)

[9, 7, 5, 3, 2, 0]
[9, 7, 5, 3]
[10, 8, 6, 4]

#### Tuples

Tuples are similar to list in the manner that tuples are used to store multiple values in a single variable and is ordered. The major difference between list and tuples is that tuples are **immutable** i.e, the values in tuples are unchangeable.Tuples are created using `()` in python.

In [ ]:
t = ()
print(t)

t = ('Adam', 'Joan', 3)
print(t)

()
('Adam', 'Joan', 3)

Single string tuple without coma is considered as type string...

In [ ]:
t = ('Adam')
print(type(t))

t = ('Adam',)
print(type(t))

<class 'str'>
<class 'tuple'>

Elements in a tuple can be accessed using the index of the element using `[]`.

In [ ]:
t = (0, 'techno', 3, 'mad', 4, 'lyf', 5, 'forever')
print(t[4])

print(t[-1]) # prints the last elements

4
forever

Length Of a Tuple

Similar to a list you can find the length of a tuple using the function `len()`

In [ ]:
print(len(t))

8

##### Changing or Deleting Element In A Tuple

Since tuples are immutable we cannot change the values inside the tuple. Lets go through examples...

In [ ]:
t[1] = "Raghu"

TypeError: ignored

If there are mutable elements in a tuple you can change the values inside it

In [ ]:
tple = (0, 1, 3, [2, 4, 5])
tple[3][2] = 9

#You can notice here the value 5 in  list is changed to 9
print(tple)

(0, 1, 3, [2, 4, 9])

Eventhough you cannot elements in a tuple you can delete the tuple as a whole using the `del`  function

In [ ]:
del tple
print(tple)

NameError: ignored

#####Slicing A Tuple

You can get the elements of a tuple in particular range by slicing the tuple. Slicing in Tuple is very similar to that in lists.

In [ ]:
t = (0, 'techno', 3, 'mad', 4, 'lyf', 5, 'forever')

In [ ]:
print(t[:]) #prints the entire tuple

print(t[2:]) #print elements from index 2 to the end

print(t[:4]) # print the elements from beginning till index 4 (not including it)

print(t[2:5]) #print from the second index element till the 5th index (not including it)

print(t[::-1]) #print elements in the reverse order

(0, 'techno', 3, 'mad', 4, 'lyf', 5, 'forever')
(3, 'mad', 4, 'lyf', 5, 'forever')
(0, 'techno', 3, 'mad')
(3, 'mad', 4)
('forever', 5, 'lyf', 4, 'mad', 3, 'techno', 0)

#####Sorting a Tuple

You can use the `sorted()` function to return a new sorted tuple.

In [ ]:
t = [5, 0, 3, 7, 9, 2]

new_t = sorted(t)
# returns a sorted tuple while keeing the original array intact
print(new_t)

[0, 2, 3, 5, 7, 9]

####Strings

Strings are one of the most popular datatypes in python. Strings are collection of characters enclosed in `'a'`, `"a"`, `'''a'''`, `"""a"""`. The characters are encoded in unicode.

##### Creating a String
You can create a string by putting characters inside `''` ,`""` . `''''''`

In [ ]:
st = "Hey Techno" 
print(st)

st = 'Hey you'
print(st)

st = '''Good job Learning'''
print(st)

Hey Techno
Hey you
Good job Learning

##### Accessing the Elements in a String

You can access elements in any sequence data type using `[]`.

In [ ]:
st = "Hello all lets learn python"

print(st[0])

print(st[5]) # prints space

H

You can find the length of a string using the function `len()`

In [ ]:
print(len(st)) # prints the total number of characters including space

27

#####Slicing Strings

You can separate out sub strings in particular range by slicing the string.

In [ ]:
print(st[:]) #prints the entire string

print(st[2:]) #print elements from index 2 to the end

print(st[:4]) # print the elements from beginning till index 4 (not including it)

print(st[2:5]) #print from the second index element till the 5th index (not including it)

print(st[::-1]) #print elements in the reverse order

Hello all lets learn python
llo all lets learn python
Hell
llo
nohtyp nrael stel lla olleH

#####Changing Values in Strings

Strings are immutable datatype ie, you cannot change the elements in a string

In [ ]:
st[0] = 'h'

TypeError: ignored

You cannot delete the elements in strings but can delete the string as a whole

In [ ]:
del st[0]

TypeError: ignored

In [ ]:
del st

In [ ]:
print(st)

NameError: ignored

You can concatenate string using `+`

In [ ]:
st1 = "Hello"
st2 = " Techno"
print(st1 + st2)

Hello Techno

There  many methods in string for modifying the strings

In [ ]:
print(st1.lower()) # converts string to lower case
print(st1.upper()) # converts string to upper case
print(st1.replace("e","a")) # replaces  'e' with 'a'

hello
HELLO
Hallo

In [ ]:
st = "Hello Techno"
print(st.split()) # splits at space and returns list

print(st.split("e")) #splits at 'e' and returns a list

['Hello', 'Techno']
['H', 'llo T', 'chno']

### Dictionaries

It is an unordered collection of elements.It is stored in pairs containing `key : value` pairs. Unlike sequqnces dictionaries are indexed using the keys. The keys in dictionary should be unique i.e, there shouldnot be any duplicates.

Keys are created using `{}`

In [ ]:
#here name, Username, age are keys
# Techno , Technomad, ? are values
dct = {"name": "Techno", "Username": "Technomad", "age":"?"} 
print(dct)

{'name': 'Techno', 'Username': 'Technomad', 'age': '?'}

The elements in a dictionary can be accessed using the key-value

In [ ]:
print(dct['Username'])

Technomad

you can also use `.get('key')` to get the values the advantage is that it will not return error if the key is not available in the dictionary

In [ ]:
print(dct['Userage']) # Returns error

KeyError: ignored

In [ ]:
print(dct.get('Username'))
print(dct.get('Userage')) # will return None by default you can change it if you want
print(dct.get('Userage', '23')) # will return 23 if the key is not in the dictionary

Technomad
None
23

Dictionaries are mutable. i.e, we can change the values in a dictionary.

In [ ]:
dct["name"] = "Raj" # changing values in a dictionary
print(dct)

dct["Userage"] = 22 # Adding new element to the dictionary
print(dct)

{'name': 'Raj', 'Username': 'Technomad', 'age': '?'}
{'name': 'Raj', 'Username': 'Technomad', 'age': '?', 'Userage': 22}

The length of a dictionary

In [ ]:
print(len(dct)) # number key - value pairs in dictionary

4

Deleting the Elements in a Dictionary

In [ ]:
del dct['Userage'] #deletes the particular element in the dictionary
print(dct)

{'name': 'Raj', 'Username': 'Technomad', 'age': '?'}

In [ ]:
dct.pop('age') # delets and returns the delered value

'?'

In [ ]:
print(dct)

{'name': 'Raj', 'Username': 'Technomad'}

In [ ]:
dct.popitem() # deletes an randomitem
print(dct)

{'name': 'Raj'}

In [ ]:
dct['Username'] = 'Technomad'
print(dct)

{'name': 'Raj', 'Username': 'Technomad'}

In [ ]:
dct.clear() #clears the entire dictionary

In [ ]:
print(dct)

{}

In [ ]:
del dct # deletes the dictionary from the memory
print(dct)

NameError: ignored

Some built-in functions dictionary

In [ ]:
dct = {"name": "Techno", "Username": "Technomad", "age":"?"} 
print(dct.items()) #returns key-value as list of tuples

dict_items([('name', 'Techno'), ('Username', 'Technomad'), ('age', '?')])

In [ ]:
print(dct.keys()) # returns list of keys

dict_keys(['name', 'Username', 'age'])

In [ ]:
print(dct.values()) # returns the list of values

dict_values(['Techno', 'Technomad', '?'])

These functions can be used to loop through inside the keys and values of dictionary

In [ ]:
for i in dct.keys():
  print(i +':'+dct[i]) # prints key and values

name:Techno
Username:Technomad
age:?

### Sets

Sets are unordered collection of items. Sets are mutabe and donot contain any dupicates. Since sets are unordered you cannot access elements using their indices.

Sets are created using `{}`.

In [ ]:
st = {}
print(st)


st = {"apple", "banana", "mango", "apple"}
print(st) #here you can see the repeated apple is not stored in memory

{}
{'banana', 'mango', 'apple'}

You can get the length of set using `len()`

In [ ]:
print(len(st))

3

##### Adding Elements to a Set

You can add elements to a set using `.add()` function. You can also add elements from other iterables to set using `.update()` function

In [ ]:
st.add('orange')
print(st)

st.update(['jackfruit','guava'])
print(st)

{'banana', 'mango', 'apple', 'orange'}
{'mango', 'orange', 'guava', 'jackfruit', 'banana', 'apple'}

##### Removing Elements from a Set

You can delete elements in a set using the following methods

`.discard()` - removes value from set, doesnot raises error if the value is not in the set.

`.remove()` - removes value from set,  raises error if the value is not present.

`.pop()` - removes a random element

`.clear()` - removes all the elements from the set

In [ ]:
st.discard("mango")
print(st)

st.remove('guava')
print(st)

st.pop()
print(st)

st.clear()
print(st)

{'orange', 'guava', 'jackfruit', 'banana', 'apple'}
{'orange', 'jackfruit', 'banana', 'apple'}
{'jackfruit', 'banana', 'apple'}
set()

In [ ]:
st.remove('guava') # error

KeyError: ignored

In [ ]:
st.discard('guava') #no error

##### Set Operations

In [ ]:
st1 = {0, 1, 2, 3, 4}
st2 = {3, 4, 5, 6, 7, 8}

# Union 
# return elements in st1 and st2 without duplicate
print(st1|st2) 
print(st1.union(st2))

# Intersection
# returns elements present in both st1 and st2 without duplicates
print(st1 & st2)
print(st1.intersection(st2))

# Difference
# elements in first set but not in second set
print(st1 - st2)
print(st1.difference(st2))

{0, 1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}
{3, 4}
{3, 4}
{0, 1, 2}
{0, 1, 2}

##### Frozen sets

These are immutable sets. It remains same after its creation

In [ ]:
frzn_st = frozenset(["Techno", "mad", "lyf"])
print(frzn_st)

frzn_st.add("forever")

frozenset({'lyf', 'Techno', 'mad'})

AttributeError: ignored