### Built In Functions

Built - in functions are those that are predefined to perform task in Python.

We are going to discuss few of these funcions here...

#### abs() function

`abs()` returns the absolute value of the function.

In [ ]:
print(abs(-33))

print(abs(20.5))

print(abs(3+4j)) # return sqrt(3**2 + 4**2) = 5

33
20.5
5.0

#### dir() function

`dir()` returns all the attributes including properties and methods of the specified object

In [ ]:
num = 3
dir(num) # returns the properties of an integer

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

####round() function

`round()` returns a floating point number which is rounded version of a number with specified number of decimals

In [ ]:
print(round(87.54443423)) # by default secified decimal is 0 

print(round(-87.343)) 

print(round(87.34522, 2)) # returns rounded number with 2 decimals

88
-87
87.35

#### divmod() function

`divmod()` function returns tuple containing qoutient and remainder in a tuple after dividing the first argument with the second argument

In [ ]:
print(divmod(6,4)) # returns qoutient -> 1 and remainder -> 2

(1, 2)

####enumerate() function

`enumerate()` takes in a collection and returns an enumerate object. We can get the count of elements using enumerate().

In [ ]:
tple = ('Techno', 'Mad', 'Lyf')
list(enumerate(tple))

[(0, 'Techno'), (1, 'Mad'), (2, 'Lyf')]

In [ ]:
list(enumerate(tple, 2)) # changes the starting index to 2 and starts counting from it

[(2, 'Techno'), (3, 'Mad'), (4, 'Lyf')]

#### filter() function

`filter()` excludes data in an iterable using conditions created in another function.

In [ ]:
tple = ('Techno', 'Mad', 'Lyf')

def myFunc(x):
  if x == 'Lyf':
    return False
  else:
    return True

filt = filter(myFunc, tple)

for x in filt:
  print(x)

Techno
Mad

#### isinstance() funcion

`isinstance()` can be used to confirm the datatype of the object. It returns `true` if the object is of specified type else it returns `false`

In [ ]:
print(isinstance(tple, tuple))

True

####map() function

`map()` applies a specified function to the each elements in the iterator and returns it.

In [1]:
tple = ('Techno', 'Mad', 'Lyf')

def myFunc(x):
    return len(x)

mp = map(myFunc,tple)
for i in mp:
  print(i) # returns len of each element

6
3
3

#### reduce() function

`reduce()` it applies the function to all of the elements in the iterable and returns the result.

In [ ]:
from functools import reduce

tple = ('Techno', 'Mad', 'Lyf')

def myFunc(x,y):
    return (x+y)

rd = reduce(myFunc,tple)
print(rd) # returns the strings after concatenating the elements in the tuple

TechnoMadLyf

### Lambda Functions

These are anonymous functions i.e, they have no name they can have many number of arguments and can execute a single expression.

In [ ]:
x = lambda a : a * 10
print(x(5))

50

In [ ]:
nw = reduce(lambda x,y : x+y, tple)
print(nw) # reduce the entire function into single line

TechnoMadLyf